<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>log.jsp</welcome-file>
<!--        <welcome-file>home.html</welcome-file>-->
    </welcome-file-list>
    <servlet>
        <servlet-name>logservlet</servlet-name>
        <servlet-class>controler.logservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userlog</servlet-name>
        <servlet-class>controler.Userlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveroute</servlet-name>
        <servlet-class>controler.saveroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stoppage</servlet-name>
        <servlet-class>controler.stoppage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteroute</servlet-name>
        <servlet-class>controler.deleteroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultypro</servlet-name>
        <servlet-class>controler.facultypro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentpro</servlet-name>
        <servlet-class>controler.studentpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateroute</servlet-name>
        <servlet-class>controler.updateroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersignup</servlet-name>
        <servlet-class>controler.usersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allpermission</servlet-name>
        <servlet-class>controler.allpermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grantpermission</servlet-name>
        <servlet-class>controler.grantpermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grantperF</servlet-name>
        <servlet-class>controler.grantperF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>revokepemission</servlet-name>
        <servlet-class>controler.revokepemission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>revokeperF</servlet-name>
        <servlet-class>controler.revokeperF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchroute</servlet-name>
        <servlet-class>controler.searchroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchrouteF</servlet-name>
        <servlet-class>controler.searchrouteF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewfaculty</servlet-name>
        <servlet-class>controler.viewfaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewroute</servlet-name>
        <servlet-class>controler.viewroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstoppage</servlet-name>
        <servlet-class>controler.viewstoppage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultystoppage</servlet-name>
        <servlet-class>controler.facultystoppage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentstoppage</servlet-name>
        <servlet-class>controler.studentstoppage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentroute</servlet-name>
        <servlet-class>controler.studentroute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>routeServlet</servlet-name>
        <servlet-class>controler.routeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRouteServlet</servlet-name>
        <servlet-class>controler.viewRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoute</servlet-name>
        <servlet-class>controler.deleteRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signServlet</servlet-name>
        <servlet-class>controler.signServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuprofile</servlet-name>
        <servlet-class>controler.stuprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuRoute</servlet-name>
        <servlet-class>controler.stuRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchbus</servlet-name>
        <servlet-class>controler.searchbus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logservlet</servlet-name>
        <url-pattern>/logservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userlog</servlet-name>
        <url-pattern>/Userlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveroute</servlet-name>
        <url-pattern>/saveroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stoppage</servlet-name>
        <url-pattern>/stoppage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteroute</servlet-name>
        <url-pattern>/deleteroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultypro</servlet-name>
        <url-pattern>/facultypro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentpro</servlet-name>
        <url-pattern>/studentpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateroute</servlet-name>
        <url-pattern>/updateroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersignup</servlet-name>
        <url-pattern>/usersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allpermission</servlet-name>
        <url-pattern>/allpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grantpermission</servlet-name>
        <url-pattern>/grantpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grantperF</servlet-name>
        <url-pattern>/grantperF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>revokepemission</servlet-name>
        <url-pattern>/revokepemission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>revokeperF</servlet-name>
        <url-pattern>/revokeperF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchroute</servlet-name>
        <url-pattern>/searchroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchrouteF</servlet-name>
        <url-pattern>/searchrouteF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewfaculty</servlet-name>
        <url-pattern>/viewfaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewroute</servlet-name>
        <url-pattern>/viewroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstoppage</servlet-name>
        <url-pattern>/viewstoppage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultystoppage</servlet-name>
        <url-pattern>/facultystoppage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentstoppage</servlet-name>
        <url-pattern>/studentstoppage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentroute</servlet-name>
        <url-pattern>/studentroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeServlet</servlet-name>
        <url-pattern>/routeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRouteServlet</servlet-name>
        <url-pattern>/viewRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoute</servlet-name>
        <url-pattern>/deleteRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signServlet</servlet-name>
        <url-pattern>/signServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuprofile</servlet-name>
        <url-pattern>/stuprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuRoute</servlet-name>
        <url-pattern>/stuRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchbus</servlet-name>
        <url-pattern>/searchbus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
